{% extends "base/base.html" %}
{% load static %}
{% block start %}


<div tyle class="slider mx-auto">

    {% if collages %}


    <div class="list">

        {% for collage in collages %}

        <div class="item">
            <img src="media/{{collage.image}}" alt="">

            <div class="content">
                <div class="title">{{ collage.name }}</div>
                <div class="type text-end">{{ collage.destrict }}</div>
                <div class="description my-2">
                    {{ collage.description }}
                </div>
                <div class="button">
                    <button>SEE MORE</button>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>


    <div class="thumbnail">

        {% for collage in collages %}
        <div class="item">
            <img src="media/{{ collage.image }}" alt="">
        </div>
        {% endfor %}


    </div>


    <div class="nextPrevArrows mt-3">
        <button class="prev"> < </button>
        <button class="next"> > </button>
    </div>

    {% endif %}

</div>

{% endblock %}