{% extends "base/base.html" %}
{% load static %}

{% block start %}



    <!-- start of student info -->
    <section style="padding-top: 80px; min-height: 100vh;" class="container-fluid row mx-auto">

        <div class="col-lg-3 position-relative mx-auto left-menu-section">
            <i  id="left-bar" class="fa-solid fa-bars d-none"></i>
            <div id="left-inner-menu" class="position-sticky  border rounded shadow-sm bg-light p-2 inner-menu " style="left: 0; right: 0; top: 80px;">
                <i id="left-xmark" class="fa-solid fa-xmark d-none"></i>
                <div class="col-lg-12 my-3">
                    <a href="#">
                        <button id="add-btn">Add Subjects</button>
                    </a>
                </div>

                <form>
                    <!-- <fieldset disabled> -->
                      <legend>Filter to show Subjects</legend>
                      <div class="mb-3">
                        <label for="department" class="form-label">Select Department</label>
                        <select id="department" class="form-select">
                          <option></option>
                          <option>ET</option>
                          <option>TT</option>
                          <option>CT</option>
                          <option>MT</option>
                          <option>CST</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="senester" class="form-label">Select Semester</label>
                        <select id="senester" class="form-select">
                          <option></option>
                          <option>1st</option>
                          <option>2nd</option>
                          <option>3rd</option>
                          <option>5th</option>
                          <option>6th</option>
                          <option>7th</option>
                          <option>8th</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                          <label class="form-check-label" for="disabledFieldsetCheck">
                            Can't check this
                          </label>
                        </div>
                      </div>
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="">Submit</button>
                        </div>
                    <!-- </fieldset> -->
                  </form>

            </div>
        </div>

        <div class="col-lg-9 bg-light border rounded shadow-sm pt-3">
            <h1 class="text-center">Computer Sceince and Technology</h1>
            <hr>
            <!-- Search bar -->
           

            <!-- Students Table -->

            <table class="table">

                <thead>
                    <tr>
                    <th scope="col">SN.</th>
                    <th scope="col">Sub. Code</th>
                    <th scope="col">Sub. Name</th>
                    <th scope="col">Theory Class</th>
                    <th scope="col">Practical Class</th>
                    <th scope="col">Subject Credit</th>
                    </tr>
                </thead>

                <!-- <tbody>

                    <tr>
                    <th scope="row">1</th>

                    <td>
                        <div class="form-check">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="present" name="present">
                            </div>
                    </td>

                    <td>609554</td>
                    <td>Tanvir Islam</td>
                    <td></td>
                    </tr>

                    <tr>
                    <th scope="row">2</th>

                    <td>
                        <div class="form-check">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="2" id="present" name="present">
                            </div>
                    </td>

                    <td>189296</td>
                    <td>Muslima Jahan Mohona</td>
                    <td></td>
                    </tr>

                    <tr>
                    <th scope="row">3</th>

                    <td>
                        <div class="form-check">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="present" id="present" name="present">
                            </div>
                    </td>

                    <td>690505</td>
                    <td>Asma Aktar</td>
                    <td></td>
                    </tr>

                </tbody> -->

            </table>


        </div>
    </section>
    <!-- End of student info -->




    <!-- Add section -->
     <section id="add-section" class="border rounded shadow">
        <h2 class="text-center my-2">Add Students Excel Sheet</h2>
        <form class="py-3" action="#">
            <div class="col-lg-6 my-1 mx-auto">
                <input type="file">
            </div>
            <div class="col-lg-6 my-1 mx-auto text-end">
                <button id="cancel-btn" class="btn btn-danger"> Cancel</button>
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>            
     </section>
     <!-- End of Add Section -->





{% endblock %}