{% extends "base/base.html" %}
{% load static %}
{% block start %}



<style>
    .add-collage {
        background-color: #fff5 !important;
        backdrop-filter: blur(10px);
    }
</style>


    <!-- Add section -->

    
    {% if request.user.is_authenticated and request.user.is_superuser %}
        <section style="margin-top: 80px;" class="container p-3">
            <div class="col-lg-12 text-start my-3">
                <a href="#">
                    <button id="add-btn">Add Department</button>
                </a>
            </div>
        </section>

    {% else %}

    <section style="margin-top: 80px;"></section>

    {% endif %}


    <section id="add-section" class="border rounded shadow add-collage">
        <h2 class="text-center my-2">Enter Department Info.</h2>
        <form class="py-3" action="{% url 'create_dep' %}" method="post">

            {% csrf_token %}
            <!-- input form -->
            <div class="col-md-7 row mx-auto my-3">


                <div class="col-lg-12 my-2">
                    <label for="collage" class="form-label">Collage</label>
                    <!-- <input type="text" class="form-control" name="department_name" required id="department_name"> -->
                     <select name="collage" id="collage" class="form-select">
                        <option value=""></option>
                        {% for collage in collages %}
                        <option value=" {{ collage.slug }} "> {{ collage.name }} </option>
                        {% endfor %}
                     </select>
                </div>


                <div class="col-lg-5 my-2">
                    <label for="department_field" class="form-label">Field</label>
                    <input type="text" class="form-control" name="department_field" required id="department_field">
                </div>

                <div class="col-lg-7 my-2">
                    <label for="department_name" class="form-label">Name Of Department</label>
                    <input type="text" class="form-control" name="department_name" required id="department_name">
                </div>

            </div>

            <!-- Button -->
            <div class="col-lg-6 my-1 mx-auto p-2 text-end">
                <button id="cancel-btn" class="btn btn-danger"> Cancel</button>
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>            
    </section>
    <!-- End of Add Section -->



    <!-- Start of Departmets -->

    {% include "base/messages.html" %}


    <section style="min-height: 100vh;" class="departments container mx-auto d-flex flex-wrap justify-content-start my-3">
        {% for department in departments %}
        <div class="col-lg-4 p-3">
            <div class="col-lg-12 mx-auto p-2 rounded bg-light border align-self-stretch">
                <form action="{% url 'update_department_image' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="col-lg-12 d-flex flex-column justify-content-center department_img">
                        {% if department.image %}
                        <img class="preview mx-auto rounded" src="/media/{{ department.image }}" alt="">
                        {% else %}
                        <img class="preview mx-auto rounded" src="../static/img/clg-img.jpg" alt="">
                        {% endif %}
                        
                        {% if request.user.is_authenticated %}
                        <div sty class="row mx-auto">
                            <section class="col-lg-8 p-2">
                                <label for=" {{ department.uid }} " class="btn btn-primary">Upload</label>
                                <input type="file" class="fileInput d-none" id=" {{ department.uid }} " name="department_image" accept="image/*">
                                <input type="text" value="{{ department.uid }}" name="department_uid" style="display: none;">
                            </section>
                            <section class="col-lg-4 p-2">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </section>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-12 my-3">
                        <p>
                            <b style="font-size: 22px;">{{ department.name }} </b><br>
                        </p>
                    </div>
                </form>
            </div>
        </div>

        {% endfor %}
        

    </section>
    
    <!-- End of departments -->


    {% endblock %}
