{% extends "base/base.html" %}
{% load static %}
{% block start %}


    <!-- start of login -->
    <section style="min-height: 100vh;" id="login-bg" >
    </section>
    <section style="height: 100vh;" class="container-fluid  d-flex justify-content-center align-items-center">
        <div class="col-lg-3 col-sm-12 p-3 bg-white rounded border shadow" data-aos="zoom-in" data-aos-delay="100">
            <form method="post">
              {% include "base/messages.html" %}
              {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">Username or Email</label>
                  <input type="text" class="form-control" id="username" name="username" required aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" required id="password">
                </div>

                <div class="col-lg-12 text-end mt-3">
                    <button type="submit">Login</button>
                </div>
              </form>
        </div>
        
    </section>
    <!-- end of login -->

{% endblock %}