{% extends "base/base.html" %}
{% load static %}
{% block start %}



    <!-- Start of Teachers info -->
    <section style="padding:80px 0px;" class="container mx-auto d-flex flex-wrap justify-content-between">

      <div class="col-lg-6 p-3 row mx-auto ">
          <div class="col-lg-12 rounded row py-2 bg-light mx-auto shadow-sm">
              <div style="height: 30vh;" class="col-lg-4  d-flex justify-content-center align-items-center">
                  <!-- <img src="../static/img/images.jpeg" class="passport-img " alt=""> -->
              </div>

              <div class="col-lg-8">
                  <div class="col-lg-11 mt-2 ">
                      <h3><a href="teachersdetail.html"> Engr. Manik Ullah  </a> </h3>
                  </div>
                  <hr>
                  <p style="text-transform: capitalize; font-weight: 900;">
                      Chief Instructor <br>
                      Department of Computer <br>
                      Image Polytechnic Institute, Rangpur
                  </p>
                  <hr>
                  <span >BSc. in CSE (PUST)</span>
              </div>
          </div>
      </div>

      <div class="col-lg-6 p-3 row mx-auto ">
          <div class="col-lg-12 rounded row py-2 bg-light mx-auto shadow-sm">
              <div style="height: 30vh;" class="col-lg-4  d-flex justify-content-center align-items-center">
                  <!-- <img src="../static/img/images.jpeg" class="passport-img " alt=""> -->
              </div>

              <div class="col-lg-8">
                  <div class="col-lg-11 mt-2 ">
                      <h3>Engr. Manik Ullah</h3>
                  </div>
                  <hr>
                  <p style="text-transform: capitalize; font-weight: 900;">
                      Chief Instructor <br>
                      Department of Computer <br>
                      Image Polytechnic Institute, Rangpur
                  </p>
                  <hr>
                  <span >BSc. in CSE (PUST)</span>
              </div>
          </div>
      </div>

      <div class="col-lg-6 p-3 row mx-auto ">
          <div class="col-lg-12 rounded row py-2 bg-light mx-auto shadow-sm">
              <div style="height: 30vh;" class="col-lg-4  d-flex justify-content-center align-items-center">
                  <!-- <img src="../static/img/images.jpeg" class="passport-img " alt=""> -->
              </div>

              <div class="col-lg-8">
                  <div class="col-lg-11 mt-2 ">
                      <h3>Engr. Manik Ullah</h3>
                  </div>
                  <hr>
                  <p style="text-transform: capitalize; font-weight: 900;">
                      Chief Instructor <br>
                      Department of Computer <br>
                      Image Polytechnic Institute, Rangpur
                  </p>
                  <hr>
                  <span >BSc. in CSE (PUST)</span>
              </div>
          </div>
      </div>

      <div class="col-lg-6 p-3 row mx-auto ">
          <div class="col-lg-12 rounded row py-2 bg-light mx-auto shadow-sm">
              <div style="height: 30vh;" class="col-lg-4  d-flex justify-content-center align-items-center">
                  <!-- <img src="../static/img/images.jpeg" class="passport-img " alt=""> -->
              </div>

              <div class="col-lg-8">
                  <div class="col-lg-11 mt-2 ">
                      <h3>Engr. Manik Ullah</h3>
                  </div>
                  <hr>
                  <p style="text-transform: capitalize; font-weight: 900;">
                      Chief Instructor <br>
                      Department of Computer <br>
                      Image Polytechnic Institute, Rangpur
                  </p>
                  <hr>
                  <span >BSc. in CSE (PUST)</span>
              </div>
          </div>
      </div>

      <div class="col-lg-6 p-3 row mx-auto ">
          <div class="col-lg-12 rounded row py-2 bg-light mx-auto shadow-sm">
              <div style="height: 30vh;" class="col-lg-4  d-flex justify-content-center align-items-center">
                  <!-- <img src="../static/img/images.jpeg" class="passport-img " alt=""> -->
              </div>

              <div class="col-lg-8">
                  <div class="col-lg-11 mt-2 ">
                      <h3>Engr. Manik Ullah</h3>
                  </div>
                  <hr>
                  <p style="text-transform: capitalize; font-weight: 900;">
                      Chief Instructor <br>
                      Department of Computer <br>
                      Image Polytechnic Institute, Rangpur
                  </p>
                  <hr>
                  <span >BSc. in CSE (PUST)</span>
              </div>
          </div>
      </div>
    </section> 
    <!-- End fo Teacher Info -->


{% endblock %}