{% extends "base/base.html" %}
{% load static %}
{% block start %}


<style>
    .teachers {
        border-radius: .3rem;
        flex-basis: 17%;
        cursor: pointer;
        text-align: center;
        margin: 0px 5px 0px 5px;

    }

    .teachers .image {
        height: 200px;
        width: 170px;
        inset: 0,0,0,0;
        border-radius: 10px;
        overflow: hidden;
        border-radius: .3rem;
    }

    .teachers .image:hover img {
        transform: scale(1.2);
    }

    .teachers .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .3s;

    }

    .name {
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        padding: 0px 5px 0px 5px;
    }

    .designation {
        padding: 0px 5px 0px 5px;
        font-size: 15px;
        font-weight: 500;
    }

    .department, .collage {
       font-size: 12px;
       font-weight: 500;
    }

    @media (max-width:699px) {
        .teachers {
            flex-basis: 100%;
            

        }

        .teachers .image {
            height: 300px;
            width: 270px;
            inset: 0,0,0,0;
            border-radius: 10px;
            overflow: hidden;
            border-radius: .3rem;
        }
    }

    @media (max-width:899px) {
        .teachers {
            flex-basis: 49%;
            

        }

        .teachers .image {
            height: 300px;
            width: 270px;
            inset: 0,0,0,0;
            border-radius: 10px;
            overflow: hidden;
            border-radius: .3rem;
        }
    }

</style>

    <!-- Start of Teachers info -->

    {% include "base/messages.html" %}
    <section style="min-height: 100vh;" class="container-fluid">

        <section style="margin-top: 70px;" class="container mx-auto d-flex flex-wrap justify-content-center">

            {% for teacher in teachers %}

            <div class="teachers p-2 mb-2 bg-light shadow-sm border" onclick="get_teacher_info('{{ teacher.uid }}')">
                <div class="image mx-auto">
                    {% if teacher.teacher_image %}
                    
                    <img src="/media/{{ teacher.teacher_image }}" alt="">

                    {% else %}
                    
                    <img src="../../static/img/no_img.jpeg" alt="">

                    {% endif %}
                </div>
                <div class="name">{{ teacher.teacher.first_name }} {{ teacher.teacher.last_name }} </div>
                <div class="designation"> {{ teacher.designation }} </div>
                <div class="department"> {{ teacher.department }} </div>
                <div class="collage"> Image Polytechnic Institute </div>

            </div>

            

            {% endfor %}

          </section> 

    </section>

<script>
    function get_teacher_info(uid) {
        var currentUrl = window.location.pathname;
        var params = new URLSearchParams(window.location.search);
        params.set('teacher', uid);
        window.location.href = currentUrl + '?' + params.toString();
    }
</script>
    <!-- End fo Teacher Info -->


{% endblock %}