{% extends "base/base.html" %}
{% load static %}
{% block start %}

<style>
    .not-to-access{
        font-weight: 700;
        font-family: sans-serif;
        text-shadow: 0px 0px 10px black;
        color: #fff;
        backdrop-filter: blur(0px);
        background: url(../../static/img/clg-img.jpg) no-repeat center center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    .not-to-access::after {
        content: '';
        position: absolute;
        top: -100px;
        left: -100px;
        right: -100px;
        bottom: -100px;
        background: inherit; 
        filter: blur(5px);
        z-index: -1;
    }
    .not-to-access h1 {
        word-spacing: 3px;
        letter-spacing: 2px;
        font-size: 3em;
    }

    /* .not-to-access p {
        font-size: 20px;
        padding: 10px 0px;
        text-shadow: 1px 1px 20px rgb(220 53 69);
        color: #fff;
        font-weight: 800;
    } */

    .message-box div{
        /* border: 1px solid rgba(220, 53, 69, .3); */
        border: 0;
        padding: 15px;
        border-radius: 10px;
        /* box-shadow: 0px 0px 20px rgba(220, 53, 69) inset; */
        background-color: rgba(220, 53, 69, .5);
        color: red !important;
        text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
        font-size: 20px;
        font-weight: 900 !important;
        letter-spacing: .5px;
    }

    .div-container {
        background-color: #0006;
        backdrop-filter: blur(10px);
    }

    @media (max-width:1000px) {
        .not-to-access {
            text-align: start;
        }

        .not-to-access h1 {
            font-size: 2em;
        }
    }

</style>

<section style="min-height: 100vh;" class="not-to-access container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="container div-container mx-auto shadow-sm p-3 rounded">
        <div>
            <h1  >
                Oops! This page is not available. <br>
            </h1>
        </div>
        <div class="message-box d-flex justify-content-center flex-column align-items-center">
        {% if messages %}
            {% for message in messages %}
                <div class="bg-warning">
                    {{message}}
                </div>
                {% endfor %}
        {% endif %}
        </div>
    </div>
    
</section>

{% endblock %}